<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="wrapper">
                <div class="item info">
                    <a href="tel:+77777777777" class="phone"><i class="icon-icon22"></i>+7 (777) 777 77 77</a>
                    <a href="mailto:top_look@gmail.com" class="email"><i class="icon-icon23"></i>top_look@gmail.com</a>
                </div>
                <div class="item mobileMenu">
                    <button class="toggle-menu">
                        <span class="hamburger">
                            <span class="sw-topper"></span>
                            <span class="sw-bottom"></span>
                            <span class="sw-footer"></span>
                        </span>
                    </button>
                </div>
                <div class="item logotype">
                    <a href="index.html" class="logo">   
                        <img src="../images/logo.png" alt="logotype">
                    </a>
                </div>
                <div class="item socials">
                    <ul class="social">
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon17"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon20"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon21"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon19"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-icon18"></i></a>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="callBack open-requestCall">Мы перезвоним</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <nav class="mainMenu" id="mainMenu">
                <ul>
                    <li>
                        <a href="index.html">Главная</a>
                    </li>
                    <li data-menuanchor="secondPage">
                        <a href="#secondPage">Весь образ</a>
                    </li>
                    <li data-menuanchor="thirdPage">
                        <a href="#thirdPage">Прически</a>
                    </li>
                    <li data-menuanchor="fourthPage">
                        <a href="#fourthPage">Макияж</a>
                    </li>
                    <li data-menuanchor="fifthPage">
                        <a href="#fifthPage">Обучение</a>
                    </li>
                    <li data-menuanchor="sixthPage">
                        <a href="#sixthPage">О компании</a>
                    </li>
                    <li data-menuanchor="seventhPage">
                        <a href="#seventhPage">Отзывы</a>
                    </li>
                    <li data-menuanchor="ninthPage">
                        <a href="#ninthPage">Инстаграм</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>