<!-- popups -->
<!-- .closeBtn - закрывает попап -->
<!-- .open-* - открывает попап -->
<div class="overlay-requestCall overlayPopup">
    <div class="close"></div>
    <div class="requestCall__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p class="title">Введите данные и наш менеджер
                    свяжется с вами  в течении <span>10 минут!</span></p>
            <form onsubmit="return false">
                <div class="form-input">
                    <i class="icon-icon1"></i>
                    <input type="text" placeholder="Ваше имя " required>
                </div>
                <div class="form-input">
                    <i class="icon-icon22"></i>
                    <input class="phoneInput" type="text" placeholder="Ваш телефон" required>
                </div>
                <div class="form-button">
                    <button class="closeBtn open-thanksMsg btnfos">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="overlay-thanksMsg overlayPopup">
    <div class="close"></div>
    <div class="thanksMsg__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>Благодарим за ваш ответ.</p>
            <p class="red">Мы скоро перезвоним.</p>
        </div>
    </div>
</div>

<div class="overlay-thanksMsg2 overlayPopup">
    <div class="close"></div>
    <div class="thanksMsg2__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>Благодарим за ваш отзыв.</p>
        </div>
    </div>
</div>

<div class="overlay-feedback overlayPopup">
    <div class="close"></div>
    <div class="feedback__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <form onsubmit="return false">
                <div class="form-file">
                    <input type="file" name="file" id="file" class="inputfile" accept="image/x-png,image/gif,image/jpeg" required>
                    <label for="file">
                        <span class="imgSize">
                            <img id="preview" src="../images/uploadImg.png" alt="your image" />
                        </span>
                        <span class="uploadTitle">загрузить фото</span>
                    </label>
                </div>
                <div class="form-input">
                    <i class="icon-icon1"></i>
                    <input type="text" placeholder="Ваше имя " required>
                </div>
                <div class="form-textarea">
                    <i class="icon-icon8"></i>
                    <textarea placeholder="Комментарии..." required></textarea>
                </div>
                <div class="form-button">
                    <button class="closeBtn open-thanksMsg2 btnfos">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="overlay-photos overlayPopup">
    <div class="close"></div>
    <div class="photos__popup">
        <span class="close-popup closeBtn"></span>
        <div class="container">
            <div class="top_filter">
                <div data-tab="tab-content1" class="top_filter-items">
                    <p>Все</p>
                </div>
                <div data-tab="tab-content2" class="top_filter-items">
                    <p>Полный образ</p>
                </div>
                <div data-tab="tab-content3" class="top_filter-items">
                    <p>Прически</p>
                </div>
                <div data-tab="tab-content4" class="top_filter-items">
                    <p>Макияж</p>
                </div>
            </div>
            <div class="tab-content tab-content1">
                <div class="content">
                    <div class="grid clearfix">
                        <div class="grid-item">
                            <img src="../images/popup-img1.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img2.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img3.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img4.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img5.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img1.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img2.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img3.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img4.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img5.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-content2">
                <div class="content">
                    <div class="grid clearfix">
                        <div class="grid-item">
                            <img src="../images/popup-img2.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img1.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img3.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img4.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img5.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img1.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img2.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img3.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img4.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img5.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-content3">
                <div class="content">
                    <div class="grid clearfix">
                        <div class="grid-item">
                            <img src="../images/popup-img4.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img3.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img1.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img2.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img5.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img1.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img2.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img3.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img4.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img5.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-content4">
                <div class="content">
                    <div class="grid clearfix">
                        <div class="grid-item">
                            <img src="../images/popup-img1.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img4.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img2.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img3.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img5.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img1.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img2.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img3.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img4.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                        <div class="grid-item">
                            <img src="../images/popup-img5.jpg" alt="photo">
                            <p>Lorem ipsum dolor sit amet, nesciunt vestibulum nibh posuere lorem, mattis pulvinar facilisi id feugiat metus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>